.loginCard{
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    align-items:center;
    justify-content:center;
}

.title{
    margin-left: 9rem;
    
}

div{
    margin-left: 5.5rem;
    
}

.theLogin{
    max-width: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin-top: 10px;
    border-radius: 20px;
    margin-top: auto;
    padding: auto;
}





